.button-cta {
    flex: 1 1 auto;
    padding: 20px 40px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);

    --color-text: var(--color-style5);
    --color-back: var(--color-style3);

    color: var(--color-text);
    background: var(--color-back);

    text-transform: uppercase;

    font-size: var(--font-size);

    transition: transform var(--transition-style-quick),
    background-color var(--transition-style);
}


.button-cta.start {
    --color-back: var(--color-approve);
}

.button-cta:hover {
    transform: scale(1.05);
}

.button-cta:active {
    transform: scale(1);
}

.button-cta.stop {
    color: var(--color-style5);
    background: var(--color-stop);
}

.button-group {
    --spacing: 0 0 0 50px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.button-group > *:not(:first-child) {
    margin: var(--spacing);
}

.button-quiet {
    --color: var(--color-style1);

    border: 3px solid var(--color);
    color: var(--color);
    background: none;
    --size: calc(var(--font-size) * 2);
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    font-size: var(--font-size);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition-style-quick);
    transition-property: color, background-color, border-color, transform;
}

.button-quiet:hover {
    --color: var(--color-style3);
    background: var(--color-style1);
    transform: scale(1.05);
}

.button-quiet:active {
    transform: scale(1);
}

button {
    font-family: inherit;
    letter-spacing: .05em;

    cursor: pointer;
    outline: none;
    border: none;
}