#main-display{
    box-sizing: border-box;
    width: 100vw;
}

.gallery-cell{
    width: 100%;
    max-width: var(--default-max-width);
    /*200px is the height of the nav bar + quote bar*/
    height: calc(100vh - 200px);
}

.gallery-cell{
    margin-left: 50vw;
}

.display {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --display-spacing: 30px;
}

.display > *:not(:first-child){
    margin: var(--display-spacing) 0 0 0;
}

.display:not(.toggled) {
    display: flex;
}

.display .time-display{

    --font-size: max(min(min(10vw, 10vh), 132px), 30px);
    font-size: var(--font-size);
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;

    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}