.time-input {
    width: 120px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.time-input:first-child {
    text-align: end;
}

.time-input:last-child {
    text-align: start;
}

input[type="number"] {
    font-family: "Lato", serif;
    font-size: var(--font-size);

    background: none;
    border: none;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}
