@media (max-width: 500px) {
    .button-group {
        flex-direction: column;
        --spacing: var(--display-spacing) 0 0 0;
    }

    .button-cta {
        font-size: 20px;
    }
}

@media (max-height: 520px) {
    .display {
        --display-spacing: 10px;
    }
}

@media (max-height: 520px), (max-width: 500px) {
    #main-navigation{
        top: 0;
    }

    #quote-container{
        bottom: 0;
    }

    #main-navigation, #quote-container {
        padding: 20px;
        max-width: 100vw;

        left: 0;
        right: 0;
    }

    #main-navigation.back-contrast,
    #quote-container > .back-contrast{
        width: auto;

        left: 0;
        right: 0;
        border-radius: 0;
    }


    #main-navigation > .icon-group {
        justify-content: space-around;
    }
}