body {
    --color-dark: #000000;
    --color-light: #F5F5F5;
    --color-quiet: #888888;
    --color-highlight-soft: #a8dadc;
    --color-highlight-main: #457B9D;
    --font-size: 16px;
    --font-size-big: 24px;
    --font-size-small: 10px;
    --letter-spacing: 0em;

    --icon-size: 24px;

    --spacing: 12px;

    --default-border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Lato", "Roboto", sans-serif;
    background-color: var(--color-light);
}

* {
    transition: .2s ease;
    transition-property: opacity, visibility, color, background-color;

}

.dark-mode {
    --color-dark: #F5F5F5;
    --color-light: #000000;
}

.full-size {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}

.main-ui {
    color: var(--color-dark);
}

.main-ui.hidden {
    opacity: 0;
    visibility: hidden;
}

.main-ui.hidden .popup {
    /*This overrides any visible popups*/
    visibility: hidden !important;
}

.menu {
    flex: 1 1 auto;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu > * {
    --spacing: 72px;
}

.difficulty-picker {
    display: flex;
    align-items: center;
}

.difficulty-picker > .stepper {
    width: 160px;
}

.difficulty-picker > * {
    --spacing: 12px;
}

.popup {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: .2s ease;
    transition-property: visibility, opacity, transform;

    display: flex;
    background: var(--color-light);
    padding: 24px;
    border-radius: var(--default-border-radius);
    box-shadow: 0 4px 24px rgba(65, 65, 65, 0.15);

    max-height: 300px;
    max-width: 90vw;

    overflow: auto;
}

.popup.toggled {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.popup > * {
    --spacing: 6px;
}

.text-header {
    font-weight: bold;
}

.text-info {
    font-style: italic;
}

.popup-container {
    position: relative;
}

.popup-container > .popup {
    align-items: flex-start;
    position: absolute;
    bottom: calc(100% + var(--spacing));
}

.popup-container:last-child > .popup {
    right: 0;
}

.stepper {
    display: flex;
    align-items: center;
}

.stepper > * {
    --spacing: 16px;
}

.stepper-controls {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.stepper-controls > p {
    text-align: center;
    flex: 1 1 auto;
}

.stepper-controls > * {
    --spacing: 10px;
    color: currentColor;
}

svg {
    width: var(--size, var(--icon-size, 16px));
    height: var(--size, var(--icon-size, 16px));
}

p {
    margin: 0;
}

h3 {
    margin: 0;
    font-weight: lighter;
}

.button-cta {
    border: none;
    padding: 12px;
    margin: 0;
    border-radius: var(--default-border-radius);
    background: var(--color-dark);
    color: var(--color-light);
}

.button-cta:hover {
    background: var(--color-dark);
    color: var(--color-light);
}

.button-action {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-dark);
    border-radius: var(--default-border-radius);
}

.button-action.fill {
    width: 100%;
    height: 100%;
}

button {
    display: flex;
    font-size: var(--font-size);
    /*outline: none;*/
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}

button:not(.button-cta) {
    border: none;
}

.--vertical {
    flex-direction: column;
}

.--spacing:not(.--vertical) > *:not(:first-child) {
    margin-left: var(--spacing);
}

.--spacing.--vertical > *:not(:first-child) {
    margin-top: var(--spacing);
}

.toggle-dark-mode {
    position: absolute;
    top: 0;
    right: 0;
    --spacing: 12px;
}