.sudoku {
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
    justify-content: space-between;
}

.sudoku > * {
    display: flex;
    justify-content: center;
}

.sudoku-header {
    display: flex;
    align-items: center;
}

.sudoku-header > *:not(:first-child) {
    margin-left: auto;
}

.sudoku-board {
    flex: 1 1 auto;
    align-items: center;
}

.sudoku-actions {
    display: flex;
}

.sudoku-actions > .button-group {
    display: flex;
    justify-content: space-around;
}

.sudoku-actions > .button-group > .button-action {
    --button-size: 42px;
    width: var(--button-size);
    height: var(--button-size);
}

.sudoku-grid {
    --divisor: 1;
    position: relative;
    max-width: calc(min(100vw, 60vh) / var(--divisor));
    aspect-ratio: 1;
    flex: 1 1 auto;
}

.sudoku-grid.small,
.sudoku-grid .sudoku-grid {
    --divisor: 3;
}

.sudoku-grid > .sudoku-line-set:nth-child(2n) {
    transform: rotateZ(90deg);
}

.sudoku-line-set {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1 1 auto;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.sudoku-line-set > hr {
    width: 100%;
    margin: 0;
    border: none;
    background: var(--color-dark);

    --thickness: calc(3px / var(--divisor));
    border-radius: calc(var(--thickness) / 2);
    height: var(--thickness);
}

.sudoku-grid-contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
}

.sudoku-grid-contents > .sudoku-grid-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.cell-notes {
    color: var(--color-quiet);
    font-size: var(--font-size-small);
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.sudoku-missing-count {
    position: absolute;
    top: 0;
    right: 0;
}

.--fixed {
    font-weight: bold;
}

.highlight-main {
    background-color: var(--color-highlight-main);
}

.highlight-soft {
    background-color: var(--color-highlight-soft);
}

.highlight-error {
    background-color: var(--color-error);
}

.sudoku-complete {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sudoku-complete > * {
    --spacing: 32px;
}