body {
    --color-style1: #1C1C1C;
    --color-style2: #FEFEFE;
    --color-style3: #737373;
    --font-size-big: min(15vw, 80px);
    --font-size-medium: min(15vw, 35px);
    --font-size: min(10vw, 22px);

    --transition-style: .2s ease;
    font-family: "Lato", serif;

    background-color: var(--color-style1);

    display: flex;
    flex-direction: column;

    margin: 0;

    --spacing: 80px 0 0 0;
}

body > *:not(:first-child) {
    margin: var(--spacing);
}

header {
    color: var(--color-style2);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 0 40px;

    --intro-width: 100%;
    --planetary-width: 100%;
    --spacing: 80px 0 0 0;
}

header > *:not(:first-child) {
    margin: var(--spacing);
}

#intro {
    width: var(--intro-width);

    --spacing: 50px 0 0 0;
}

#intro > *:not(:first-child) {
    margin: var(--spacing);
}

footer {
    background-color: var(--color-style2);
    color: var(--color-style1);

    display: flex;
    justify-content: center;
}

.icon-group {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    max-width: 500px;
}

.icon-group .icon {
    --size: 40px;
    height: var(--size);
    width: var(--size);
}

.icon-group .icon:hover {
    color: var(--color-style3);
}